#services {
  padding: 30px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background: #262626;
  padding: 30px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: background 0.5s, transform 0.5s;

  i {
    font-size: 50px;
    margin-bottom: 30px;
    color: rgb(1, 170, 255);
  }

  h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    width: 100px;
    border-radius: 12px;
    background-color: rgb(4, 156, 206);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &:hover {
    background: rgba(69, 192, 254, 0.8);;
    transform: translateY(-10px);
  }
}
